html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #222;
  padding: 1em;
  text-align: center;
  word-break: break-word;
  font-size: 1.1em;
}

@media (max-width: 600px) {
  th, td {
    padding: 0.5em;
    font-size: 0.9em;
  }
}